[Unit]
Description=Electrs
After=bitcoind.service

#Sostituire user con il vostro nome utente (quello con cui vi loggate su linux)

[Service]
WorkingDirectory=/home/user/electrs
ExecStart=/home/user/electrs/target/release/electrs
User=user
Group=user
Type=simple
KillMode=process
TimeoutSec=60
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
